/lib/drafts/
/downloads/
/docs/notes/
/docs/log.txt
!docs
.Rproj.user
/analysis/.RData
/analysis/.Rhistory
/analysis/analysis.Rproj
/analysis/workbooks/crisisselection_jul20_v1.html
/analysis/workbooks/crisisselection_jul20_v1.log
/analysis/workbooks/crisisselection_jul20_v1.nb.html
/analysis/workbooks/crisisselection_jul20_v1.Rmd
/analysis/workbooks/crisisselection_jul20_v1.tex
/analysis/workbooks/crisisselection_jul20_v2.log
/analysis/workbooks/crisisselection_jul20_v2.Rmd
/analysis/workbooks/crisisselection_jul20_v2.tex
/analysis/workbooks/crisisselection_rm_jul20_v1.r
